# Visual Studio 2015/2017 cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.pssess
*.vsp
*.vspx
*.vs

# log files
*.log
*.tlog
*.lastbuildstate
*.obj
*.pch
*.unsuccessfulbuild
*.pdb
*.idb
*.exe
*.ilk
*.exp
*.cso
*.recipe

# Engine dll/lib
Engine.dll
Engine.lib
/Engine/Default/x64/Debug/unity_1M72TCCCE9ZZULCW.cpp
/Engine/Default/x64/Debug/unity_TNA1JJ1SS5YURKAV.cpp
