# Visual Studio 2015/2017 cache/options directory
Textures/
Models/


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.pssess
*.vsp
*.vspx
*.vs

# log files
*.log
*.tlog
*.lastbuildstate
*.obj
*.pch
*.unsuccessfulbuild
*.pdb
*.idb
*.exe
*.ilk
*.exp
*.cso
*.recipe

# Engine dll/lib
/Engine/Bin/Engine.dll
/Engine/Bin/Engine.lib

/Client/Bin/Engine.dll
/MapTool/Bin/Engine.dll
/AnimationTool/Bin/Engine.dll
/EffectTool/Bin/Engine.dll
/UITool/Bin/Engine.dll

/EngineSDK/Lib/Engine.lib

Debug/